.factionItem {
  width: 15%;
  min-height: 60px;
  height: fit-content;
  margin-bottom: 20px;
  border: 1px solid black;
  text-align: center;
}

.factionItem > div {
  padding: 20px;
}

.factionItem > a {
  display: inline-block;
  padding: 20px;
}
